/*colors*/
$white: #FFFFFF;
$black: #000000;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$very-light-pink: #C7C7C7;
$text-input-field: #F7F7F7;
$hospital-green: #ACD9B2;
$dark: #707070;
$dark-yellow: #ffab1a;
$light-yellow: #FFCE7E;

/*font sizes*/
$sm: 18px;
$md: 20px;
$lg: 22px;